/* Enter your custom styles here */
/* .sapMInputBaseContentWrapper {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sapMInputBaseContentWrapper .sapMInputBaseInner {
    padding: 18px !important;
}

.sapMInputBaseIconContainer {
    height: auto;
} */